In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
data = pd.read_csv('1000GenomesCh22Dataset.csv', header=None)
dataset = data.values

In [3]:
dataset.shape

(95787, 181)

In [4]:
data = data.iloc[:, 1:177]
data = data.values
data = np.transpose(data)
data.shape

(176, 95787)

In [5]:
totalCasos = int(0.5*data.shape[0])
totalCasos

88

In [15]:
fenotipo = []

In [16]:
import random

In [17]:
for i in range(0, data.shape[0]):
    if(np.count_nonzero(np.array(fenotipo) == 'Caso')<totalCasos):
        fenotipo.append(random.choice(['Caso', 'Controle']))
    else:
        fenotipo.append('Controle')

C:\Users\edvar.filho\AppData\Local\Temp\ipykernel_6076\2941294464.py:2: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  if(np.count_nonzero(np.array(fenotipo) == 'Caso')<totalCasos):

In [18]:
fenotipo = np.array(fenotipo)

In [19]:
fenotipo.shape

(176,)

In [20]:
fenotipo = np.reshape(fenotipo, (data.shape[0], 1))
fenotipo.shape

(176, 1)

In [21]:
np.count_nonzero(np.array(fenotipo) == 'Caso')

88

In [22]:
data = np.hstack((data, fenotipo))
data.shape

(176, 95789)

In [23]:
df = pd.DataFrame(data)
df.to_csv("datasetReal.csv", index = False)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,95779,95780,95781,95782,95783,95784,95785,95786,95787,95788
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Controle,Caso
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,Caso,Caso
2,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,Controle,Controle
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,Caso,Caso
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,Caso,Caso