In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
dataset = np.zeros([1000, 101], dtype = object)

In [3]:
totalCasos = int(0.5*dataset.shape[0])
totalControle = dataset.shape[0] - totalCasos
print(totalCasos)
print(totalControle)

500
500

In [4]:
for i in range(0, dataset.shape[0]):
    dataset[i,0:100] = np.random.randint(3, size=100)
    if(np.count_nonzero(dataset[:,100] == 'Caso')<totalCasos):
        dataset[i,100] = random.choice(['Caso', 'Controle'])
    else:
        dataset[i,100] = 'Controle'
dataset

array([[2, 2, 2, ..., 1, 1, 'Controle'],
       [2, 0, 0, ..., 2, 0, 'Controle'],
       [2, 2, 0, ..., 0, 0, 'Caso'],
       ...,
       [0, 0, 2, ..., 0, 0, 'Controle'],
       [2, 1, 1, ..., 1, 0, 'Controle'],
       [2, 1, 0, ..., 2, 1, 'Controle']], dtype=object)

In [5]:
df = pd.DataFrame(dataset)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,2,2,2,0,0,1,2,2,2,0,...,0,0,0,2,2,0,2,1,1,Controle
1,2,0,0,2,2,0,0,0,1,0,...,1,2,0,1,0,2,2,2,0,Controle
2,2,2,0,1,2,2,2,2,1,1,...,0,2,0,2,1,0,1,0,0,Caso
3,1,1,0,1,2,0,0,2,2,0,...,2,0,2,2,2,0,1,1,0,Controle
4,0,0,0,1,2,1,2,2,0,1,...,1,0,2,1,2,1,0,2,1,Controle

In [6]:
df.to_csv("dataset.csv", index = False)